---
export interface CardProps {
  headerImage: string;
  title: string;
  subtitle: string[];
  description: string;
  instructorName: string;
  instructorImage: string;
  instructorDescription: string;
}

const {
  headerImage,
  title,
  subtitle,
  description,
  instructorName,
  instructorImage,
  instructorDescription,
} = Astro.props as CardProps;
---
<div class="card flex flex-col border-2 border-gray-300 overflow-hidden shadow-drop25 max-w-sm mx-auto">
    <!-- Header med billede -->
    <section class="header">
      <img src={headerImage} alt="Header image" class="w-full h-32 object-cover" />
    </section>
  
    <!-- Holdinfo -->
    <section class="info flex flex-col p-4 gap-2 border-b-2 border-gray-300">
      <h2 class="text-3xl font-bold">{title}</h2>
      <div class="text-sm text-gray-500 space-y-1">
        {subtitle.map((line) => (
          <p>{line}</p>
        ))}
      </div>
      <p class="text-gray-700 mt-2">{description}</p>
    </section>
  
    <!-- Underviser -->
    <section class="instructor flex items-center gap-2 p-4 bg-gray-100">
      <div class="flex items-left gap-4">
        <img
          src={instructorImage}
          alt="Instructor image"
          class="w-6 h-6 object-center"
        />
        <p class="text-gray-800 font-semibold">{instructorName}</p>
      </div>
      <p class="text-gray-600 text-sm mt-2">{instructorDescription}</p>
    </section>
  </div>
  