---
import '../styles/tailwind.css'; 
export interface CardProps {
  headerImage: string;
  title: string;
  subtitle: string[];
  description: string;
  instructorName: string;
  instructorImage: string;
  instructorDescription: string;
}

const {
  headerImage,
  title,
  subtitle,
  description,
  instructorName,
  instructorImage,
  instructorDescription,
} = Astro.props as CardProps;
---



<div class="card flex flex-col border-2 border-gray-300 overflow-hidden shadow-drop25 max-w-sm mx-auto">
    <!-- Header med billede -->
    <section class="header relative">
      <!-- Billede -->
      <img src={headerImage} alt="Header image" class="w-full h-32 object-cover" />
  
      <!-- Badges -->
      <section class="badges relative inset-0 flex flex-col gap-8">
        <!-- Badge 1 - Øverst venstre hjørne -->
        <div class="badge absolute top-4 left-4 bg-blue-500 text-white px-4 py-2 rounded-full z-10">
          Nyt hold!
        </div>
  
        <!-- Badge 2 - Øverst højre hjørne, med afstand til Badge 1 -->
        <div class="badge absolute top-4 right-4 bg-coral-500 text-white px-4 py-2 rounded-full z-10">
          10% rabat!
        </div>
  
        <!-- Badge 3 - Nederst højre hjørne, med afstand til Badge 2 -->
        <div class="badge absolute bottom-4 right-4 bg-green-500 text-white px-4 py-2 rounded-full z-10">
          Kun få pladser tilbage!
        </div>
      </section>
    </section>
  
    <!-- Holdinfo -->
    <section class="info flex flex-col p-4 gap-2 border-b-2 border-gray-300">
      <h2 class="text-3xl font-bold">{title}</h2>
      <div class="text-sm text-gray-500 space-y-1">
        {subtitle.map((line) => (
          <p>{line}</p>
        ))}
      </div>
      <p class="text-gray-700 mt-2">{description}</p>
    </section>
  
    <!-- Underviser -->
    <section class="instructor flex items-center gap-2 p-4 bg-gray-100">
      <div class="flex items-left gap-4">
        <img
          src={instructorImage}
          alt="Instructor image"
          class="w-6 h-6 object-center"
        />
        <p class="text-gray-800 font-semibold">{instructorName}</p>
      </div>
      <p class="text-gray-600 text-sm mt-2">{instructorDescription}</p>
    </section>
  </div>
  